<div class="form-data">
    <form action="<%=`/subscribers/${subscriber._id}/update?_method=PUT` %>" method="POST">
        <h2>Edit Subscriber: </h2>
        <label for="txtName">Name</label>
        <input type="text" name="name" id="txtName" placeholder="Name" autofocus 
            required value="<%= subscriber.name %>"> <!--name is for server side id is for client side processing-->
        <label for="txtEmail"> Email Address</label>
        <input type="email" name="email" id="txtEmail" required value="<%= subscriber.email %>">
        <label for="txtZipCode">Zip Code</label>
        <input type="text" name="zipCode" id="txtZipCode" required value="<%= subscriber.zipCode %>">
        <button type="submit">Save</button>

        </form>
</div>